.navbar {
    background-color: rgb(1, 94, 91);
}

.nav-link {
    font-size: larger;
    margin: 13px;
}

.nav-link:hover {
    color: yellow !important;
}
.collapse a {
    color: white;
}

.header {
    background-color: rgb(18, 117, 114);
}

